$font-stack: 'Roboto', sans-serif;

$primary-colour: #62e2c0;
$primary-colour-light: #dafde9;

$secondary-colour: #a5acff;
$secondary-colour-light: #e7e9ff;

$primary-text-colour: #475277;

$grey: #9ba2b5;

$background-colour: #ffffff;

$phone-width: 600px;
