@import 'variables';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

// General

.app {
  display: flex;
  flex-direction: column;
}

.message-container {
  flex: 1;
  padding-top: 95px;
  padding-bottom: 95px;
}

.row {
  width: 100%;
}

// Header

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  height: 60px;
  background-color: $background-colour;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  width: 100%;
  padding: 9px 28px;
  .title-wrapper {
    padding: 2.5px 15px;
    .title {
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      text-align: center;
      color: $primary-colour;
      height: 20px;
    }
  }
}

// Components

.bot-icon {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 3px $primary-colour;
  -moz-box-shadow: 0px 0px 0px 3px $primary-colour;
  box-shadow: 0px 0px 0px 3px $primary-colour;
}


.user, .bot {
  margin-bottom: -15px;
  min-height: 60px;
  display: flex;
  animation: slide-up 0.4s ease;
  .message-column {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    .info-row {
      display: flex;
      height: 15px;
      line-height: 13px;
      letter-spacing: 0.3px;
      font-weight: 300;
      .info-time {
        color: $grey;
        font-size: 9px;
        line-height: 15px;
      }
      .info-name {
        font-size: 12px;
      }
    }
  }
  .message-box {
    position: relative;
    color: $primary-text-colour;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    border-radius: 2px;
    min-height: 25px;
    line-height: 25px;
    padding: 10px 15px;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      margin-top: -4px;
    }
  }
}

.user {
  justify-content: flex-end;
  padding-right: 30px;
  .message-column {
    .info-row {
      flex-direction: row-reverse;
      .info-name {
        color: $secondary-colour;
        &:first-of-type {
          margin-left: 10px;
        }
      }
    }
  }
  .message-box {
    background-color: $secondary-colour-light;

    &:after {
      border-left-color: $secondary-colour-light;
      margin-right: -4px;
      border-right: 0;
      right: 0;
    }
  }
}

.bot {
  justify-content: flex-start;
  .bot-icon {
    -webkit-box-shadow: 0px 0px 0px 1.5px $primary-colour;
    -moz-box-shadow: 0px 0px 0px 1.5px $primary-colour;
    box-shadow: 0px 0px 0px 1.5px $primary-colour;
    height: 19px;
    margin: 28px 15px 12px 25px;
  }
  .message-column {
    .info-row {
      flex-direction: row;
      .info-name {
        color: $primary-colour;
        &:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
  .message-box {
    background-color: $primary-colour-light;
    &:after {
      border-right-color: $primary-colour-light;
      margin-left: -4px;
      border-left: 0;
      left: 0;
    }
  }
}

.chat-form {
  display: flex;
  border-top: 2px solid $primary-colour;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  input {
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 0;
    line-height: 20px;
    padding: 20px;
    font-size: 16px;
    color: $secondary-colour;
    &:focus {
      outline: none;
    }
  }
  button {
    position: absolute;
    height: 60px;
    width: 60px;
    border: none;
    right: 0;
    top: 0;
    z-index: 2;
    border-radius: 0;
    color: $primary-colour;
    font-size: 15px;
    padding: 20px;
    line-height: 20px;
    font-weight: 100;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
